:root
{
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --graysih-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}

*
{
    margin: 0;
    padding: 0;
}

body 
{
    font-family: 'Manrope';

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

    background-color: var(--dark-blue);
}

main
{
    text-align: center;

    background-color: var(--dark-grayish-blue);

    width: 90%;
    max-width: 500px;
    padding: 2rem 1.5rem 0;
    box-sizing: border-box;

    border-radius: .7rem;
}

#adviceID
{
    font-size: .7rem;
    letter-spacing: 4px;
    color: var(--neon-green);
    text-transform: uppercase;

    font-weight: 800;
    margin-bottom: 2rem;
}

#adviceText
{
    color: var(--light-cyan);
    font-weight: 800;
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
}

.mobile-img
{
    width: 100%;
}
.desktop-img
{
    display: none;
    width: 100%;
}


.dice-div
{
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
}
.dice-button
{
    background-color: var(--neon-green);
    width: 60px;
    height: 60px;
    border-radius: 2rem;
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s ease-in-out;
}
.dice-button:hover 
{
    cursor: pointer;
    box-shadow: 0 0 30px hsl(150, 100%, 66%);
}

.attribution
{
    font-family: 'Manrope';
    font-size: 1rem;
    color: var(--light-cyan);
    text-align: center;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 3rem;
}
.attribution a
{
    text-decoration: none;
    color: var(--neon-green);
}
.attribution a:hover 
{
    text-decoration: underline;
}

@media screen and (min-width: 670px) 
{
    .mobile-img
    {
        display: none;
    }    
    .desktop-img
    {
        display: block;
    }
}

